* {
  padding: 0;
  margin: 0;
  border: none;
}

table,
thead,
tbody,
tfoot,
th,
tr,
td {
  border: 0.2px solid;
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  border-radius: 5px;
  background-color: #f8fff2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  color: #252b42;
  font-weight: 500;
  font-family: Montserrat;
  background: #fafafa;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1046px;
  padding: 15px;
  margin: 0 auto;
  box-sizing: content-box;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  margin-top: 35px;
}



.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30;
}



.header__container {
  display: flex;
  padding: 10px;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  margin-top: 20px;
  border-radius: 20px;
}


.header__menu {
  margin: 0 auto;
}

.menu {
  padding: 5px 0px;
}

.menu__list {
  flex-wrap: wrap;
  display: flex;
}

.menu__item:not(:last-child) {
  margin: 0px 21px 0px 0px;
}

.menu__link {
  color: #737373;
  font-weight: 600;
  line-height: calc(24/14 * 100%);
}

.menu__link:hover {
  color: #fff;
  padding: 3px 5px;
  border-radius: 5px;
  background: #252b42;
}


.page {
  margin-top: 60px;
  flex: 1 0 auto;
}

.introduction {
  margin-top: -50px;
  padding-top: 50px;
}

.introduction__container {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  margin-top: 35px;
}

.introduction__body {
  padding: 15px;
}

.introduction__body-title {
  text-align: center;
  font-size: 34px;
  line-height: calc(80/58 * 100%);
  font-weight: 800;
  letter-spacing: 0.2px;
}

.introduction__body-text {
  margin-top: 10px;
  text-align: center;
  color: #737373;
  font-size: 16px;
  line-height: 150%;
}